/*************************
 * Reset.
 ************************/
@import "reset";

/*************************
 * Typography.
 ************************/
@import "typography";

/*************************
 * Base.
 ************************/

body {
  color: #999;
  background: #1A181B;
  overflow-x: hidden;
}