/*************************
 * Packages.
 ************************/
/*************************
 * Utilities.
 ************************/
/*************************
 * Variables.
 ************************/
/*************************
 * Functions.
 ************************/
/*************************
 * Mixins.
************************/
/*************************
 * layout.
 ************************/
/*************************
 * Footer.
 ************************/
/*************************
 * Header.
 ************************/
@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
.framework-app-header {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}
.framework-app-header--sticky {
  left: 0;
  position: sticky;
  top: 0;
}
.framework-app-header__item {
  min-width: 0;
}
.framework-app-header__item--left, .framework-app-header__item--right {
  flex: 0 0 5rem;
}
.framework-app-header__item--middle {
  flex: 1 1 auto;
}

/*************************
 * Navigation.
************************/
/*************************
 * Components.
 ************************/
/*************************
 * Utilities.
 ************************/
/*************************
 * Variables.
 ************************/
/*************************
 * Layout.
 ************************/
/*************************
 * Transition.
 ************************/
/*************************
 * Colors.
 ************************/
:root {
  --color-primary: #D8C293;
  --color-secondary: #1A181B;
  --color-secondary-transparent: #1A181B;
  --color-tertiary: #D9D9D9;
}

/*************************
 * Fonts.
 ************************/
:root {
  --font-primary: "Exo 2", sans-serif;
}

/*************************
 * Functions.
 ************************/
/*************************
 * Mixins.
************************/
/*************************
 * Fonts.
************************/
/*************************
 * Base.
 ************************/
/*************************
 * Reset.
 ************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*************************
 * Typography.
 ************************/
/*************************
 * Base.
 ************************/
body {
  color: #999;
  background: #1A181B;
  overflow-x: hidden;
}

/*************************
 * layout.
 ************************/
/*************************
 * Footer.
 ************************/
/*************************
 * Header.
 ************************/
.header {
  background: linear-gradient(180deg, rgba(26, 24, 27, 0.8) 0%, rgba(26, 24, 27, 0) 79.95%);
  padding: 1rem 0.5rem;
}
@media (min-width: 600px) {
  .header {
    padding: 2rem 4rem;
  }
}
.header__logo {
  filter: drop-shadow(0 0 0.175rem var(--color-primary));
  width: 4rem;
}
@media (min-width: 600px) {
  .header__logo {
    width: 5rem;
  }
}
.header__item--right {
  text-align: right;
}
.header__item--middle {
  line-height: 0;
}
.header__icon {
  width: 1.75rem;
}
@media (min-width: 600px) {
  .header__icon {
    width: 2rem;
  }
}
.header__icon-container {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  list-style: none;
}
@media (min-width: 600px) {
  .header__icon-container {
    gap: 1rem;
  }
}
@media (min-width: 1200px) {
  .header__icon-container {
    gap: 1.75rem;
  }
}
.header__icon-image {
  filter: drop-shadow(0 0 0.125rem var(--color-primary));
  transition: filter 0.5s ease-in-out;
  width: 100%;
}
.header__icon-image:hover {
  filter: drop-shadow(0 0 0.25rem var(--color-primary));
}
.header__link {
  display: block;
}
.header__menu-button {
  background: none;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
  font-family: var(--font-primary);
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.28125rem;
  line-height: 0;
  transition: text-shadow 0.5s ease-in-out;
  text-shadow: 0 0 0.25rem var(--color-primary);
  text-transform: uppercase;
}
.header__menu-button:hover {
  text-shadow: 0 0 0.75rem var(--color-primary);
}

/*************************
 * Navigation.
************************/
/*************************
 * Menu.
************************/
.menu {
  background: linear-gradient(180deg, rgba(26, 24, 27, 0.8) 0%, rgba(26, 24, 27, 0) 79.95%);
  left: 0;
  padding: 1rem 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
}
@media (min-width: 600px) {
  .menu {
    padding: 2rem 4rem;
  }
}

/*************************
 * Components.
 ************************/
/*************************
 * Pages.
 ************************/
/*************************
 * Animations.
 ************************/
.route-enter-from {
  opacity: 0;
  transform: translate(page-animation-x, 0);
}
.route-enter-active {
  transition: all 0.5s ease-out;
}
.route-leave-to {
  opacity: 0;
  transform: translate(-7rem, 0);
}
.route-leave-active {
  transition: all 0.5s ease-in;
}

/*# sourceMappingURL=app.css.map */
